<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
</head>

<body class="bg-gradient">
    <header class="header">
        <div class="cont">
            <!-- Logo y Nombre -->
            <div class="logo">
                <img alt="LaBondioleta" class="logo" height="100" src="~/Content/icono/Screenshot_20240630-124646-fotor-bg-remover-20240921174945.png" width="200" />
            </div>

            <!-- Información de contacto -->
            <div class="contact-info">
                <div class="item">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Direccion</span>
                </div>
                <div class="item">
                    <i class="fas fa-phone"></i>
                    <span>1160028911</span>
                </div>
                <div class="item">
                    <i class="fas fa-envelope"></i>
                    <span>labondioleta@gmail.com</span>
                </div>
            </div>

            <!-- Iconos de redes sociales -->
        </div>
    </header>

    <div id="layoutSidenav_content">
            <div class="container-main">
                @RenderBody()
            </div>
        <div class="container body-content">
            <footer class="py-5 bg-dark">
                <div class="container"><p class="m-0 text-center text-white">Copyright &copy; @DateTime.Now.Year - La Bondioleta</p></div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/StyleBDTA.css")
</body>
</html>
