<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @*Scripts.Render("~/bundles/modernizr")*@
</head>

<body class="bg-gradient">

    <div class="container mx-auto p-4">
        <div class="d-flex justify-content-between align-items-center">
            <img alt="LaBondioleta" class="h-12" height="200" src="~/Content/icono/Screenshot_20240630-124646-fotor-bg-remover-20240921174945.png" width="200" />
            <div class="search">
                <input class="form-control" placeholder="Buscar artículos" type="text" />
                <i class="fas fa-search ml-2">
                </i>
            </div>
        </div>
        <hr style="border:none;border-top:1px solid black;margin:20px 0;" />
        <div class="d-flex justify-content-between align-items-center mb-5">

            <div class="d-flex">
                <button class="btn btn-orange text-white d-flex align-items-center mx-2">
                    <img src="~/Content/icono/IMG-20240920-WA0038-fotor-bg-remover-20240921181742.png" width="30" height="30" />
                    Ubicación
                </button>
                <a class="btn btn-orange text-white mx-2" href="@Url.Action("Index","Home")">
                    INICIO
                </a>
                <a class="btn btn-orange text-white mx-2" href="@Url.Action("Menu","Home")">
                    ####
                </a>
                <button class="btn btn-orange text-white mx-2">
                    #####
                </button>

                <button class="btn btn-orange text-white mx-2">
                    CONTACTO
                </button>
                <a class="btn btn-orange text-white mx-2">
                    <i class="fas fa-phone-alt">
                    </i>
                    <span class="ml-2">
                        #####
                    </span>

                </a>

            </div>
            <div class="btn btn-warning text-bg-danger-black d-flex align-items-center mx-2">
                <a class="btn btn-outline-dark" href="@Url.Action("Carrito", "Home")">
                    <i class="fas fa-shopping-cart me-1"></i>
                    Carrito
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    <img src="~/Content/icono/pngwing.com (1).png" width="30" height="30" />
                </a>

                <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="@Url.Action("MisCompras","Index")">Mis Compras</a></li>
                            <li><hr class="dropdown-divider" /></li>
                        </ul>
                    </li>
                </ul>
            </div>






        </div>
        <hr style="border:none;border-top:1px solid black;margin:20px 0;" />
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                @RenderBody()
            </div>
        </main>
        <div class="container body-content">


            <footer class="py-5 bg-dark">
                <div class="container"><p class="m-0 text-center text-white">Copyright &copy; @DateTime.Now.Year - Mi aplicacion ASP.NET</p></div>
            </footer>

        </div>


    </div>

    @*RenderBody()*@
    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
        <li>@Html.ActionLink("Tienda", "Tienda", "Home")</li>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
            $(document).ready(function () {
                MostrarCantidadCarrito();
            });

            function MostrarCantidadCarrito() {
                if ($("#cantidadcarrito").length > 0) {
                    $.ajax({
                        url: '@Url.Action("CantidadEnCarrito", "Home")',
                        type: "GET",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            $("#cantidadcarrito").text(data.cantidad);
                        },
                        error: function () {
                            console.error("Error al obtener la cantidad de productos en el carrito.");
                        }
                    });
                }
            }
    </script>
</body>
</html>

