
@{
    ViewBag.Title = "CrearVenta";
}
<div class="modal-body mt-3">
    <h5>Crear Venta</h5>

    <!-- Seleccionar Cliente -->
    <div class="mb-3">
        <label for="selectCliente" class="form-label">Seleccionar Cliente</label>
        <select id="selectCliente" class="form-select">
            <option value="">Seleccione un Cliente</option>
            <!-- Opciones de clientes serán llenadas por JavaScript -->
        </select>
    </div>

    <!-- Seleccionar Localidad -->
    <div class="mb-3">
        <label for="selectLocalidad" class="form-label">Seleccionar Localidad</label>
        <select id="selectLocalidad" class="form-select">
            <option value="">Seleccione una Localidad</option>
            <!-- Opciones de localidades serán llenadas por JavaScript -->
        </select>
    </div>

    <!-- Seleccionar Producto -->
    <div class="mb-3">
        <label for="selectProducto" class="form-label">Seleccionar Producto</label>
        <select id="selectProducto" class="form-select">
            <option value="">Seleccione un Producto</option>
            <!-- Opciones de productos serán llenadas por JavaScript -->
        </select>
    </div>

    <!-- Cantidad de Productos -->
    <div class="mb-3">
        <label for="txtTotalProductos" class="form-label">Total de Productos</label>
        <input type="number" class="form-control" id="txtTotalProductos" min="1" value="1">
    </div>

    <div class="mb-3">
        <!-- Título para el campo Total Pago -->
        <label for="visibleTotalPago" class="form-label">Total Pago</label>

        <!-- Input visible para mostrar el total al usuario -->
        <input type="text" id="visibleTotalPago" class="form-control" readonly />

        <!-- Input oculto para almacenar el valor a enviar al servidor -->
        <input type="hidden" id="hiddenTotalPago" name="hiddenTotalPago" />
    </div>

    <!-- Botón para crear venta -->
    <div class="text-end">
        <button type="button" class="btn btn-primary" onclick="crearVenta()">Guardar Venta</button>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            cargarProductos();
            cargarLocalidades();
            cargarClientes(); // Cargar clientes primero

            // Preseleccionar el último cliente si existe en el ViewBag
            var ultimoClienteId = '@ViewBag.UltimoClienteId';
            if (ultimoClienteId) {
                $("#selectCliente").val(ultimoClienteId);
            }
            var ultimaLocalidadId = '@ViewBag.UltimaLocalidadId';
            if (ultimaLocalidadId) {
                $("#selectLocalidad").val(ultimaLocalidadId);
            }

            $("#selectProducto, #txtTotalProductos").on('change', calcularTotalPago);
        });

        function cargarClientes() {
            $.ajax({
                url: '@Url.Action("ListarClientes", "Home")', // URL para obtener la lista de clientes
                type: "GET",
                dataType: "json",
                success: function (response) {
                    // Limpiar el select antes de agregar opciones
                    $("#selectCliente").empty();
                    $("#selectCliente").append('<option value="">Seleccione un Cliente</option>');

                    // Iterar sobre la lista de clientes y añadir opciones al select
                    $.each(response.data, function (index, item) {
                        $("<option>").attr({ "value": item.Id_Cliente }).text(item.Nombre).appendTo("#selectCliente");
                    });

                    // Preseleccionar el cliente si hay uno guardado en el ViewBag
                    var ultimoClienteId = '@ViewBag.UltimoClienteId';
                    if (ultimoClienteId) {
                        $("#selectCliente").val(ultimoClienteId);
                    }
                },
                error: function (error) {
                    console.log("Error al cargar clientes:", error);
                }
            });
        }

        function cargarLocalidades() {
            $.ajax({
                url: '@Url.Action("ListarLocalidad", "Home")', // URL para obtener la lista de clientes
                type: "GET",
                dataType: "json",
                success: function (response) {
                    // Limpiar el select antes de agregar opciones
                    $("#selectLocalidad").empty();
                    $("#selectLocalidad").append('<option value="">Seleccione una Localidad</option>');

                    // Iterar sobre la lista de clientes y añadir opciones al select
                    $.each(response.data, function (index, item) {
                        $("<option>").attr({ "value": item.Id_Localidad }).text(item.Barrio).appendTo("#selectLocalidad");
                    });

                    // Preseleccionar el cliente si hay uno guardado en el ViewBag
                    var ultimaLocalidadId = '@ViewBag.UltimaLocalidadId';
                    if (ultimaLocalidadId) {
                        $("#selectLocalidad").val(ultimaLocalidadId);
                    }
                },
                error: function (error) {
                    console.log("Error al cargar Localidades:", error);
                }
            });
        }


        function cargarProductos() {
        jQuery.ajax({
            url: '@Url.Action("ListarProducto", "Mantenedor")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data.data, function (index, item) {
                    $("<option>").attr({ "value": item.Id_Producto, "data-precio": item.Precio }).text(item.Nombre).appendTo("#selectProducto")
                })
            },
            error: function (error) {
                console.log(error)
            }
        });
        }

        function calcularTotalPago() {
            var precioProducto = parseFloat($("#selectProducto option:selected").data('precio')) || 0;
            var cantidad = parseInt($("#txtTotalProductos").val()) || 1;
            var totalPago = precioProducto * cantidad;

            $("#visibleTotalPago").val(totalPago.toFixed(2)); // Mostrar el total en el campo de texto visible
            $("#hiddenTotalPago").val(totalPago.toFixed(2));  // Guardar el total en el input oculto
        }

        function crearVenta() {
            var idVenta = 0;
            var idCliente = $("#selectCliente").val();
            var idLocalidad = $("#selectLocalidad").val();
            var idProducto = $("#selectProducto").val();
            var totalProductos = $("#txtTotalProductos").val();
            var fechaVenta = new Date().toISOString();
            var totalPago = parseFloat($("#hiddenTotalPago").val()) || 0;

            // Validar que los campos obligatorios estén llenos
            if (!idCliente || !idLocalidad || !idProducto || totalProductos <= 0) {
                alert("Por favor, complete todos los campos obligatorios.");
                return;
            }

            var venta = {
                oCliente: { Id_Cliente: parseInt(idCliente) },
                oLocalidad: { Id_Localidad: parseInt(idLocalidad) },
                oProducto: { Id_Producto: parseInt(idProducto) },
                Total_Productos: parseInt(totalProductos),
                Fecha_Venta: fechaVenta,
                Total_Pago: parseFloat(totalPago)
            };

            $.ajax({
                url: '@Url.Action("RegistrarVenta", "Home")',
                type: 'POST',
                data: JSON.stringify({ venta: venta }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        alert("Venta creada con éxito.");
                    } else {
                        alert("Error al crear la venta: " + response.message);
                    }
                },
                error: function (error) {
                    console.log("Error en la solicitud AJAX:", error);
                }
            });
        }

    </script>
}