<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - La Bondioleta</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowgroup/1.1.4/css/rowGroup.dataTables.min.css">
</head>
<body class="sb-nav-fixed">
    <header>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand -->
            <a class="navbar-brand ps-3" href="@Url.Action("Index", "Home")">La Bondioleta</a>
            <!-- Sidebar Toggle -->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
            <!-- Navbar -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user fa-fw"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Correo del usuario</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="@Url.Action("CerrarSesion", "Acceso")">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <nav>
                            <div class="nav-group">
                                <h6 class="nav-group-title-head">Administracion</h6>
                                <a class="nav-link" href="@Url.Action("Index", "Home")">
                                    <div class="sb-nav-link-content">
                                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                        <span>Reporte de Ventas</span>
                                    </div>
                                </a>
                                <a class="nav-link" href="@Url.Action("Usuario", "Home")">
                                    <div class="sb-nav-link-content">
                                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                        <span>Usuarios</span>
                                    </div>
                                </a>
                            </div>
                            <!-- Primer Grupo: Clientes, Localidad, CrearVentaExterna -->
                            <div class="nav-group">
                                <h6 class="nav-group-title">Clientes y Ventas</h6>
                                <a class="nav-link" href="@Url.Action("Localidad", "Home")">
                                    <div class="sb-nav-link-content">
                                        <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
                                        <span>Localidad</span>
                                    </div>
                                </a>
                                <a class="nav-link" href="@Url.Action("Cliente", "Home")">
                                    <div class="sb-nav-link-content">
                                        <div class="sb-nav-link-icon"><i class="fas fa-user-friends"></i></div>
                                        <span>Clientes</span>
                                    </div>
                                </a>
                                <a class="nav-link" href="@Url.Action("CrearVenta", "Home")">
                                    <div class="sb-nav-link-content">
                                        <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                                        <span>Crear Venta Externa</span>
                                    </div>
                                </a>
                            </div>
                            <!-- Segundo Grupo: Producto, Categoría, Carrusel -->
                            <div class="nav-group">
                                <h6 class="nav-group-title">Productos y Mantenimiento</h6>
                                <a class="nav-link" href="@Url.Action("Categoria", "Mantenedor")">
                                    <div class="sb-nav-link-content">
                                        <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                                        <span>Categorías</span>
                                    </div>
                                </a>
                                <a class="nav-link" href="@Url.Action("Producto", "Mantenedor")">
                                    <div class="sb-nav-link-content">
                                        <div class="sb-nav-link-icon"><i class="fas fa-box-open"></i></div>
                                        <span>Productos</span>
                                    </div>
                                </a>
                                <a class="nav-link" href="@Url.Action("Carrusel", "Mantenedor")">
                                    <div class="sb-nav-link-content">
                                        <div class="sb-nav-link-icon"><i class="fas fa-images"></i></div>
                                        <span>Carrusel</span>
                                    </div>
                                </a>

                                <a class="nav-link" href="@Url.Action("Barrio", "Mantenedor")">
                                    <div class="sb-nav-link-content">
                                        <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
                                        <span>Barrio</span>
                                    </div>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.4/js/dataTables.rowGroup.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>

